<div class="poked-console">
  <ng-container *ngIf="battle.notice() as notice; else runtime">
    <div class="notice">
      <p>{{ notice }}</p>
      @if (needsTeam()) {
        <button type="button" class="retry" (click)="goToTrainerInfo()">Ir a Trainer Info</button>
      }
    </div>
  </ng-container>

  <ng-template #runtime>
    <div class="notice error" role="alert" *ngIf="battle.loadError() as err">
      <p>{{ err }}</p>
      <button type="button" class="retry" (click)="start()">Reintentar</button>
    </div>
    <p class="notice" *ngIf="!battle.loadError() && loading()">Iniciando batalla…</p>

    <div #consoleBox class="log" *ngIf="!battle.loadError() && !loading()">
      <p class="line" *ngFor="let line of battle.log()">{{ line }}</p>
    </div>
  </ng-template>
</div>
