<div class="screen" appPhoneDock="a">
  <!-- Efecto de corte -->
  <div #blackSplit class="black-split">
    <div class="black-top"></div>
    <div class="black-bottom"></div>
  </div>

  <!-- Pantalla apagada -->
  <div *ngIf="!isOn" class="screen-off"></div>

  <!-- Pantalla encendida -->
  <div *ngIf="isOn" class="welcome-screen">

  <!-- 🎧 Control de volumen con emojis -->
    <div *ngIf="showMenu" class="volume-control">
      <button class="volume-btn" (click)="toggleMute()">
        <span class="volume-icon">{{ volumeIcon }}</span>
      </button>
      <input
        type="range"
        min="0"
        max="1"
        step="0.01"
        [(ngModel)]="volume"
        (input)="changeVolume()"
      />
    </div>

    <!-- Video -->
    <video
      *ngIf="!currentComponent"
      #videoPlayer
      [src]="currentVideo"
      autoplay
      [loop]="showMenu"
      [class.intro]="!showMenu"
      [class.menu]="showMenu"
      [muted]="isMuted"
      (ended)="onVideoEnded()"
      disablepictureinpicture>
    </video>

    <!-- Menú -->
    <div *ngIf="showMenu && !currentComponent" class="menu-options">
      <button *ngFor="let option of options; let i = index"
              class="option-btn"
              [ngClass]="{'last-btn': i === options.length - 1}"
              (click)="onOptionClick(option)">
        {{ option }}
      </button>
    </div>

    <!-- Componente dinámico -->
    <div class="dynamic-component" *ngIf="currentComponent">
      <ng-container *ngComponentOutlet="currentComponent"></ng-container>
    </div>


  </div>
</div>

<div *ngIf="showBackDiv" class="poket">
 <button
  *ngIf="showBack"
  type="button"
  class="pokeball-button"
  aria-label="Volver al menú"
  (click)="goBack()">
</button>
</div>

<!-- Volver al menú con texto: la Pokéball sola no se entiende como "atrás". -->
<button *ngIf="showBack" type="button" class="menu-back" (click)="goBack()">← Menú</button>
