<div class="screenb">
  <!-- Video de fondo -->
  <video *ngIf="!currentBComponent"
         #videoPlayer
         [src]="currentVideo"
         autoplay
         muted
         loop>
  </video>


  <!-- Imagen dividida -->
  <div #pokeSplit class="poke-split">
    <div class="poke-top">
      <img src="assets/images/Poke.png" alt="">
    </div>
    <div class="poke-bottom">
      <img src="assets/images/Poke.png" alt="">
    </div>
  </div>

  <!-- Componente dinámico -->
   <div class="Dynamic">
    <ng-container *ngIf="currentBComponent" [ngComponentOutlet]="currentBComponent"></ng-container>
</div>
   </div>

