<!-- 🔘 Dots para cambiar de página -->
<div class="Dots" *ngIf="Ison && pokemonData">
  <span
    *ngFor="let dot of [0, 1, 2]; let i = index"
    (click)="setPage(i)"
    (keydown.enter)="setPage(i)"
    (mouseover)="setPage(i)"
    (focus)="setPage(i)"
    role="button"
    tabindex="0"
    [attr.aria-label]="'Página ' + (i + 1)"
    [class.active]="i === currentPage"
  ></span>
</div>

<!-- Pantalla principal -->
<div *ngIf="Ison" class="Screen" [style.background]="pokemonData ? getPokemonColor(pokemonData.types) : '#2a2a2a'">

  <!-- Si hay Pokémon seleccionado -->
  <ng-container *ngIf="pokemonData as p; else empty">

    <!-- Contenedor de páginas -->
    <div
      class="PagesContainer"
      [style.transform]="'translateX(-' + currentPage * 100 + '%)'"
    >

      <!--  Página 1: Información general -->
      <div class="Page">
        <div class="BigCard">
          <div class="PhotoFrame">
            <img
              class="BigPhoto"
              [src]="p.image"
              [alt]="p.name"
              draggable="false"
            />
          </div>
          <div
            class="Info"
            [style.background]="getPokemonColor(p.types)"
          >
            <p class="InfoRowID">ID: #{{ p.id }}</p>
            <p class="InfoRowName"> {{ p.name | titlecase }}</p>
            <p class="InfoRow">Type: {{ (p.types || []).join(', ') | titlecase }}</p>
            <p class="InfoRow">Height: {{ p.height / 10 }} m</p>
            <p class="InfoRow">Weight: {{ p.weight / 10 }} kg</p>

          </div>
        </div>
      </div>

      <!-- 🟩 Página 2: Habilidades y desventajas -->
      <div class="Page">
        <h2 class="TitleAbi">Abilities</h2>
        <ul class="List1">
          <li *ngFor="let ab of p.abilities">
            {{ ab.name | titlecase }}
            <span *ngIf="ab.hidden">(Hidden)</span>
          </li>
        </ul>

        <h2 class="TitleDis" style="margin-top: 30px;">Disadvantages</h2>
        <ul class="List2">
          <li *ngFor="let w of p.weaknesses">
            {{ w | titlecase }}
          </li>
        </ul>

        <img
          class="Photo"
          [style.background]="getPokemonColor(p.types)"
          [src]="p.image"
          [alt]="p.name"
        />
      </div>

      <!-- 🟦 Página 3: Evoluciones -->
     <div class="Page">
  <h2 class="Title3">Evolutions</h2>
  <div class="Evolutions">
    <div *ngFor="let evo of p.evolution" class="EvolutionItem">
      <img
        *ngIf="evo.image"
        [src]="evo.image"
        [alt]="evo.name"
        class="EvolutionImage"
      />
      <p class="EvoName">{{ evo.name | titlecase }}</p>
    </div>
  </div>
</div>
    </div>
  </ng-container>

  <!-- Si no hay Pokémon seleccionado -->
  <ng-template #empty>
    <div class="EmptyState">
      <p >Choose a Pokémon</p>
    </div>
  </ng-template>
</div>
